/*
    Vars
    ====
*/


/*
    colors
    ------
*/


/*
    Fonts
    -----
*/
$font--one: 'Source Sans Pro', Helvetica, Arial, sans-serif; // google fonts
$font--two: Georgia, Times, "Times New Roman", serif;

$fs--base: 18px;
$fs--browser-default: 16px;

$fs--alpha: 30px;
$fs--beta: 26px;
$fs--gamma: 23px;
$fs--delta: 20px;
$fs--epsilon: 18px;
$fs--zeta: 16px;
$fs--small: 15px;


/*
    Z-indexes
    ---------
*/


/*
    Widths
    ------
*/
$width--site-min: 300px;
$width--site-max: 1200px;


/*
    Spacing
    -----------
*/
$base-spacing-unit: 40px;
$base-spacing-unit--half: ($base-spacing-unit / 2);
